/*===========================

        GLOBAL VARIABLES

=============================*/

/* color
-----------------------*/

$colors : (
    primary: #0B601F,
    secondary: #1F9138,
    contrast: #BF0006,
    //extra: lighten(#F98A93, 15%),
    light: #FFFFFF,
    dark: #000000,
);

$primary-color: map-get($map: $colors, $key: primary);
$secondary-color: map-get($map: $colors, $key: secondary);
$contrast-color: map-get($map: $colors, $key: contrast);
//$extra-color: map-get($map: $colors, $key: extra);
$dark: map-get($map: $colors, $key: dark);
$light: map-get($map: $colors, $key: light);
$grey: lighten(map-get($map: $colors, $key: dark), 50%);


/* font-families
-----------------------*/

$font-family-heading: 'Oleo Script', cursive;
$font-family-sub-heading: 'Raleway', sans-serif;
$font-family-paragraph: 'Open Sans', sans-serif;


/* font-size
-----------------------*/
// BS default = 14px

/* other sizes
    18px, 30px, 20px, 15px, 28px, 24px
*/

$font-size: (
    xxxlg: 42px,
    xxlg: 36px,
    xlg: 30px,
    lg: 24px,
    md: 16px,
    base: 14px,
    sm: 12px,
    xs: 10px,
);


$font-size-xxxlg:  map-get($map: $font-size, $key: xxxlg);
$font-size-xxlg:  map-get($map: $font-size, $key: xxlg);
$font-size-xlg:  map-get($map: $font-size, $key: xlg);
$font-size-lg:  map-get($map: $font-size, $key: lg);
$font-size-md:  map-get($map: $font-size, $key: md);
$font-size-base:  map-get($map: $font-size, $key: base);
$font-size-sm:  map-get($map: $font-size, $key: sm);
$font-size-xs:  map-get($map: $font-size, $key: xs);


/* margin/padding sizing
-----------------------*/
// BS default = 15px
// mp = margin/padding

$mp-xs: 5px;
$mp-sm: 10px;
$mp-default: 15px;
$mp-lg: 20px;
$mp-double: 30px;
$mp-triple: 60px;

/* breakpoints
-----------------------*/
// bp = breakpoint

$breakpoints: (
    xs: 420px,
    sm: 767px,
    md: 992px,
    lg: 1200px,
);

$bp-xs: map-get($map: $breakpoints, $key: xs);
$bp-sm: map-get($map: $breakpoints, $key: sm);
$bp-md: map-get($map: $breakpoints, $key: md);
$bp-lg: map-get($map: $breakpoints, $key: lg);

/*===========================================

            ELEMENT VARIABLES

==============================================*/

// == GLOBAL

// z-index
$bottom-level: -1;
$top-level: 9999;


//-----------------------

// .mobile-header
$mobile-header-height: 56px;

// .mobile-side-menu
$mobile-side-menu-width: 240px;

// .mobile-side-menu
$mobile-side-menu-transition: left 0.25s;

// .btn-arrow
$btn-arrow-size: 32px;
$btn-arrow-padding-top: 7px;

// #home-food-carousel
$food-carousel-height: 130px;